import %workspace%/../bazel/common.bazelrc

build --@boost.dll//:use_std_fs
query --@boost.dll//:use_std_fs
build --@boost.process//:use_std_fs
query --@boost.process//:use_std_fs

try-import %workspace%/user.bazelrc
