---
Checks: 'clang-diagnostic-*,clang-analyzer-*,modernize-*,bugprone-*'
WarningsAsErrors: false
HeaderFilterRegex: '^((?!/external/|/bazel-.*/).)*$'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions: {}
...

